<h1>Director #<%= @the_director.id %> details</h1>

<p>
<a href="/directors"> Go back</a>  |  <a href="/delete_director/<%= @the_director.id %>">Delete director</a>
</p>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @the_director.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @the_director.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
   <%= @the_director.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <%= @the_director.image %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@the_director.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@the_director.updated_at) %> ago
  </dd>
</dl>
